<div class="col-sm-4 related_post_item">
    <a class="post-card card related_post_card" href="{{url}}">
        <div class="row">
            <div class="col-xs-5 post_card_cover related_post_card_cover"  data-post-featured-image="{{img_url feature_image size="xs"}}"></div>
            <div class="col-xs-7 related_post_card_info_col">
                <div class="related_post_info">
                    <h4>{{title}}</h4>
                    <span class="post-card-byline-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time></span>
                </div>
            </div>
        </div>
    </a>
</div>