<article class="post-card card {{post_class}}">
    <div class="post_card_inner">
        <div class="row">
            <div class="col-md-6 post_card_cover" data-post-featured-image="{{img_url feature_image size="m"}}"></div>
            <div class="col-md-6">
                <div class="post_card_content">
                    <div class="post_card_meta">
                        {{#if primary_tag}}
                            {{#primary_tag}}
                            <div class="post_card_meta_tag"><a href="{{url}}">#{{name}}</a></div>
                            {{/primary_tag}}
                        {{/if}}
                    </div>
                    <div class="post_card_post_content">
                        <h2><a class="post-card-content-link" href="{{url}}">{{title}}</a></h2>
                        <p>{{excerpt words="25"}}</p>
                    </div>
                    <div class="post_card_footer_meta">
                        <span class="post-card-byline-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time></span><span class="post_card_reading_time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                        <a class="post-card-content-link" href="{{url}}">{{t "Read More"}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
