<header id="site_header">
    <div class="container">
        <div class="row middle-xs">
            <div class="col-sm-12 col-md-2 start-xs">
                <div class="header_logo">
                    {{#if @site.logo}}
                        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
                    {{else}}
                        <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
                    {{/if}}
                </div>
            </div>
            <div class="col-sm-12 col-md-8 center-xs">
                <div class="header_navigation">
                    {{navigation}}
                </div>
            </div>
            <div class="mobile_nav_trigger">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="col-sm-12 col-md-2 end-xs">
                <div class="header_links">
                    <div class="header_links_social">
                        {{#if @site.facebook}}
                            <a class="social-link social-link-fb" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                        {{/if}}
                        {{#if @site.twitter}}
                            <a class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
