<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/flex.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <link href="{{@site.url}}/assets/built/lang/{{@site.lang}}.css" rel="stylesheet">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        <footer class="site_footer">
            <div class="container">
                <div class="row middle-sm">
                    <div class="col-sm-6 start-sm">
                        <div class="footer_copyright_text">
                            &copy {{@site.title}} - {{t "All Rights Reserved"}}
                        </div>
                    </div>
                    <div class="col-sm-6 end-sm">
                        <div class="footer_links">
                            {{navigation type="secondary"}}
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    {{!-- jQuery, required for fitvids --}}
    <script src="{{asset "built/jquery-3.5.0.min.js"}}"></script>
    <script src="{{asset "built/storyteller.js"}}"></script>


    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
