{{!< default}}

{{> site-header}}
{{#post}}

{{> sub-header}}

<main id="site-main" class="site-main outer">
    <div class="container">
        <article class="card post-full {{post_class}}">
            <div class="single_post_container">
                <div class="single_post_header" data-post-featured-image="{{img_url feature_image size="l"}}">
                    <div class="single_post_header_inner">
                        <div class="single_post_header_meta_tags">
                            {{tags separator=""}}
                        </div>
                        <div class="single_post_header_meta">
                            <span class="post-card-byline-date">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
                                <span class="bull">&bull;</span>
                                <span class="single_post_header_meta_reading_time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                            </span>
                        </div>
                        <div class="single_post_header_title">
                            <h1>{{title}}</h1>
                        </div>
                    </div>
                </div>
                <div class="single_post_content">
                    <section class="post-full-content">
                        <div class="post-content">
                            {{content}}
                        </div>
                    </section>
                </div>
                {{#get "posts" include="tags" limit="3" filter="id:-{{id}}+tag:{{primary_tag.slug}}" as |related|}}
                    {{#if related}}
                        <div class="single_post_related">
                            <h3 class="related-title">{{t "Recommended for you:"}}</h3>
                            <div class="single_post_related_posts">
                                <div class="row">
                                    {{#foreach related}}
                                        {{> "post-card-related"}}
                                    {{/foreach}}
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/get}}
            </div>

            {{!-- Facebook Comment --}}
            {{!-- {{> comments-facebook}} --}}

            {{!-- Disqus Comment --}}
            {{!-- {{> comments-disqus}} --}}

        </article>
    </div>
</main>
<script>
    var pagetitle = '{{title}}';
    var pagecoverimg = '{{img_url feature_image}}';
</script>
{{/post}}
{{#contentFor "scripts"}}
<script>
    $(document).ready(function () {
        var featuredImage = $(".single_post_header").data("post-featured-image");
        $('.single_post_header').css('background', 'url(' + featuredImage + ')');
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        loadPostCardFeaturedImages();
    });
    var subheaderrender = false;
    $(window).scroll(function() {
        var height = $(window).scrollTop();
        if(height  > 300) {
            $("body").addClass("showing_sub_header");
            if(subheaderrender == false){
                $(".sub_header_page_title").html(pagetitle);
                $(".sub_header_page_featured_image").html('<span style="background:url('+pagecoverimg+')"></span>');
                subheaderrender = true;
            }
        } else {
            $("body").removeClass("showing_sub_header");
        }
    });
</script>
{{/contentFor}}
