{{!< default}}

{{> site-header}}
{{#post}}

{{> sub-header}}

<main id="site-main" class="site-main outer">
    <div class="container">
        <article class="card post-full {{post_class}}">
            <div class="single_post_container">
                <div class="single_post_header" data-post-featured-image="{{img_url feature_image}}">
                    <div class="single_post_header_inner">
                        <div class="single_post_header_meta_tags">
                            {{tags separator=""}}
                        </div>
                        <div class="single_post_header_meta">
                            <span class="post-card-byline-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
                        </div>
                        <div class="single_post_header_title">
                            <h1>{{title}}</h1>
                        </div>
                    </div>
                </div>
                <div class="single_post_content">
                    <section class="post-full-content">
                        <div class="post-content">
                            {{content}}
                        </div>
                    </section>
                </div>
            </div>
            <div class="single_post_comments">
                <div id="disqus_thread"></div>
                <script>
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://your-blog-name-here.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </article>
    </div>
</main>
<script>
    var pagetitle = '{{title}}';
    var pagecoverimg = '{{img_url feature_image}}';
</script>
{{/post}}
{{#contentFor "scripts"}}
<script>
    $(document).ready(function () {
        var featuredImage = $(".single_post_header").data("post-featured-image");
        $('.single_post_header').css('background', 'url(' + featuredImage + ')');
        // FitVids - start
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        // FitVids - end
    });
    var subheaderrender = false;
    $(window).scroll(function() {
        var height = $(window).scrollTop();
        if(height  > 300) {
            $("body").addClass("showing_sub_header");
            if(subheaderrender == false){
                $(".sub_header_page_title").html(pagetitle);
                $(".sub_header_page_featured_image").html('<span style="background:url('+pagecoverimg+')"></span>');
                subheaderrender = true;
            }
        } else {
            $("body").removeClass("showing_sub_header");
        }
    });
</script>
{{/contentFor}}
